body {
   background: #A66F2E;
    background: radial-gradient(circle,rgba(166, 111, 46, 1) 75%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    flex-direction: column; /* asettaa tekstit päällekkäin */
    justify-content: center; /* keskittää pystysuunnassa */
    align-items: center; /* keskittää vaakasuunnassa */
    min-height: 100vh; /*selaimen korkeus*/
    margin: 0;
}

h1 {
   font-size: 3em;
   color: aliceblue;
    margin: 12px 0;
}

p {
color: aliceblue;
margin: 12px 0;
}