/*
Author: Viljami Myllyvirta
Date: 2025-09-19
*/

body {
   background: #A66F2E;
    background: radial-gradient(circle,rgba(166, 111, 46, 1) 75%, rgba(0, 0, 0, 1) 100%);
}

h1 {
   font-size: large;
   color: aliceblue; 
}

p {
color: aliceblue;
}