/*
Author: Viljami Myllyvirta
Date: 2025-09-29
*/

body {
   background: linear-gradient(to bottom, #A66F2E 0%, #f3d5ad 100%) ;
    display: flex;
    flex-direction: column; /* asettaa tekstit päällekkäin */
    justify-content: center; /* keskittää pystysuunnassa */
    align-items: center; /* keskittää vaakasuunnassa */
    min-height: 100vh; /*selaimen korkeus*/
    margin: 0;
}

h1 {
   font-size: 4em;
   color: aliceblue;
    margin: 12px 0;
}

p {
color: aliceblue;
margin: 12px 0;
}

#special-message
{

}